<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site1.css")
    @Styles.Render("~/Content/Site2.css")
</head>
<body>
    <nav class="navbar navbar-mind navbar-default navbar-default-mind">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-mind " href="#"> <img src="~/Content/img/logo3.png" class="img-rounded"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <form class="navbar-form  navbar-form-mind navbar-left">
                @*<div class="form-group  form-group-sm form-group-mind ">
                    <input type="search" class="form-control form-control-mind" placeholder="Search for ...">
                </div>
                <a class="btn btn-default btn-default-mind">
                    <span class="glyphicon glyphicon-search">  </span>
                </a>*@
                @using (Html.BeginForm())
                {
                    <div class="form-group  form-group-sm form-group-mind ">
                        @Html.TextBox("searchString", null , new { @type = "search", @class = "form-control form-control-mind" ,@placeholder = "Search for ..." })
                    </div>
                    <a class="btn btn-default btn-default-mind">
                        <span class="glyphicon glyphicon-search">  </span>
                    </a>
                }
            </form>
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href=@Html.Action("UsersHome","Home")><b>Home</b></a></li>*@
                <li>@Html.ActionLink("Home", "UsersHome", "Home", "", new { style = "font-weight:bold;" })</li>
                <li>@Html.ActionLink("Event", "Index", "EVENTs", new { category = "All"}, new { style = "font-weight:bold;" })</li>
                <li>@Html.ActionLink("Location", "Index", "LOCATIONs", new { category = "All" }, new { style = "font-weight:bold;" })</li>
                @if (Session["img"] != null)
                {
                    <li><a href="@Url.Action("Details", "MEMBERs", new { id=Session["id"] })"> <img src=@Session["img"] class="img-circle mini"> <b>@Session["username"]</b></a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Details", "MEMBERs", new { id=Session["id"] })"> <img src="http://downloadicons.net/sites/default/files/user-icon-2722.png" class="img-circle mini"> <b>Username</b></a></li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class=" glyphicon glyphicon glyphicon-cog " aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-mind">
                        <li>@Html.ActionLink("Create Event", "Create", "EVENTs")</li>
                        <li>@Html.ActionLink("Create Location", "Create", "LOCATIONs")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Log Out", "Logout", "Home")</li>
                        @*<li><a href="#">Create Event</a></li>
                            <li><a href="#">Create Event</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Log out</a></li>*@
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

</body>
@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @html.actionlink("application name", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@html.actionlink("home", "index", "home")</li>
                        <li>@html.actionlink("about", "about", "home")</li>
                        <li>@html.actionlink("contact", "contact", "home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @renderbody()
            <hr />
            <footer>
                <p>&copy; @datetime.now.year - my asp.net application</p>
            </footer>
        </div>

    </body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </html>*@
