@model IEnumerable<EVENT_VER5.Models.FOLLOWING>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HISTORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMBER.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMBER1.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HISTORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEMBER.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEMBER1.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
