@model EVENT_VER5.ViewModel.LOCATIONsViewModel

@{
    ViewBag.Title = "Details";
}

@if (Session["username"] != null)
{
    <body style="background-color:#f5f5f5;"> 
        <div class="section">
            <div class="container " style="background-color:#fff;border-radius:5px;margin-bottom:30px;">
                <div class="row" style="margin-top:10px;margin-bottom:-10px;">
                    <div class="col-md-12 ">
                        <div class="col-md-6 col-md-offset-3 ">
                            <h1 class="text-center">@Model.location_detail.LOCATION_NAME</h1>
                        </div>
                        <div class="col-md-offset-10">
                            
                            @if (Model.location_detail.MEMBER.Where(m => m.MEMBER_ID.Equals(Session["id"])).FirstOrDefault() != null)
                            {
                                @Html.ActionLink("Edit", "Edit", "LOCATIONs", new { id = Model.location_detail.ID_LOCATION }, new { @type = "button", @class = "btn btn-sm button-site", @style = "background-color:#EDA23E;" })
                                <button type="button" class="btn btn-sm button-site" style="background-color:#EDA23E;" data-toggle="modal" data-target="#myModalP">PROMOTE</button>

                                using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="container">
                                        <div class="modal fade" id="myModalP" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="modal-content">
                                                    <div class="modal-header-jan modal-header">
                                                        <h3 class="modal-title">Budgets and Duration</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row text-modal">
                                                            <div class="col-md-2 col-md-offset-1">
                                                                <p>Duration</p>
                                                            </div>
                                                            <div class="col-md-4">
                                                                @{
                                                                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                                                                    listItems2.Add(new SelectListItem { Text = "1 day (" + (Model.location_detail.PRICE * 0.05).ToString() + " Bath )", Value = "1" });
                                                                    listItems2.Add(new SelectListItem { Text = "7 days (" + (Model.location_detail.PRICE * 7 * 0.05).ToString() + " Bath )", Value = "7" });
                                                                    listItems2.Add(new SelectListItem { Text = "14 days (" + (Model.location_detail.PRICE * 14 * 0.05).ToString() + " Bath )", Value = "14" });
                                                                    listItems2.Add(new SelectListItem { Text = "21 days (" + (Model.location_detail.PRICE * 21 * 0.05).ToString() + " Bath )", Value = "21" });
                                                                    listItems2.Add(new SelectListItem { Text = "28 days (" + (Model.location_detail.PRICE * 28 * 0.05).ToString() + " Bath )", Value = "28" });
                                                                }
                                                                @Html.DropDownListFor(model => model.day_of_promote, listItems2, new { @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => model.day_of_promote, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer-j">
                                                        <center>
                                                            <input type="submit" class="btn btn-default" value="Promote">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                                        }
                                                                    }
                            </div>
                    </div>
                </div>

                <div class="row create-text">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " style="padding-right:30px;">
                            <div class="row">
                                <p>@Model.location_detail.DETAIL</p>
                            </div>
                            <div class="row">
                                @foreach (var item in Model.location_detail.MEMBER)
                                {
                                    <p>Owner : @item.FNAME</p>
                                }
                                <p>Category : @Model.location_detail.CATEGORY</p>
                                <p>Facility : @Model.location_detail.FACILITY</p>
                                <p>Price : @Model.location_detail.PRICE Bath per day</p>
                                @foreach (var item in Model.location_detail.MEMBER)
                                {
                                    <p>Contact : @item.PHONE</p>
                                }
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <img class="img-responsive  img-thumbnail" src=@Model.location_detail.PICTURE>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-date-header-top" style="margin-top:20px;">
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3  ">
                            <a href="#">
                                <img class="img-responsive  img-thumbnail" src="../../Content/img/dance2.jpg">
                                <p style="color:#A82221;">Birthday Party - ขอเชิญแฟนคลับมาร่วมกันในงาน โดยเราจะเลือกผู้โชคดี50คน</p>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
                            <a href="#">
                                <img class="img-responsive  img-thumbnail" src="../../Content/img/dance3.jpg">
                                <p style="color:#A82221;">Birthday Party - ขอเชิญแฟนคลับมาร่วมกันในงาน โดยเราจะเลือกผู้โชคดี50คน</p>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
                            <a href="#">
                                <img class="img-responsive  img-thumbnail" src="../../Content/img/dance4.jpg">
                                <p style="color:#A82221;">Birthday Party - ขอเชิญแฟนคลับมาร่วมกันในงาน โดยเราจะเลือกผู้โชคดี50คน</p>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
                            <a href="#">
                                <img class="img-responsive  img-thumbnail" src="../../Content/img/dance5.jpg">
                                <p style="color:#A82221;">Birthday Party - ขอเชิญแฟนคลับมาร่วมกันในงาน โดยเราจะเลือกผู้โชคดี50คน</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-date-header-top">
                    </div>

                </div>
            </div>
        </div>
    </body>

}
else
{
    @Html.Action("Index", "Home")
}




@*<h2>Details</h2>

<div>
    <h4>LOCATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOCATION_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATION_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DETAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DETAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PICTURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PICTURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACILITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACILITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROMOTE_L.PROMOTE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROMOTE_L.PROMOTE_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_LOCATION }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
